*{
    margin: 0px 9px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;

}

:root{
    --main-color:#2980b9;
    --black:#444;
    --bg:#fff;
    --light-bg:#eee;
    --light-color:#666;
    --white-color:#ffffff;
    --border: 1px solid rgba(0,0,0,0.1);
    --box-shadow:0 5px 10px rgba(0,0,0,0.1)

}

body{
    max-width: 100%;
    background: var(--white-color);
 
}

body.active{
  
    --black:#fff;
    --bg:#262626;
    --white-color:#333;
    --light-color:#eee;
    --border: 1px solid rgba(255,255,255,0.1);
    --box-shadow:0 5px 10px rgba(0,0,0,0.3)
}

h1{
    font-size: 50px;
    line-height: 54px;
} 

h2{
    font-size: 45px;
    line-height: 54px;
}

h4{
    font-size: 20px;

}

p{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0; 
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 5.5vw;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 2px 0;
    right: 85%;
    bottom: 0%;
    font-size: 0.9vw;
    font-weight: 150;
    opacity: 0.8;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 101;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

#head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1vw;
    padding-bottom: 1vw;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    
    background-color: rgb(253, 253, 253);
    
}

#bar{



    font-size: 1vw;
    font-weight: 500;
    padding: 0.7vh 0.2vw;
    margin-top: 2vh;
    color: black;
    background-color: rgb(250, 248, 248);
    z-index: 1000;
    cursor: pointer;
    position: fixed;
    /*right: -0.5vw;*/
    top:75vh;
    right: 0.1vw;
    transition: 0.15s ease-in-out;
    
    
}

#bar:hover{

    padding: 0.7vh 0.2vw;
    color: blue;
    background-color: black(250, 248, 248);
    font-size: 1.2vw;
    font-weight: 700;
    box-shadow: 0 1vh 2.3vw rgba(0, 0, 0, 0.08);
    
    
    
}


#nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}



#nav li{
    list-style: none;
    padding: 0 0;
   

    

}

#nav li a{

    text-decoration: none;
    font-size: 0.9vw;
    font-weight: 300;
    color: #465b52;
    transition: 0.17s ease-in-out;
    
}

#nav li a:hover /*,
#nav li a.current*/{
     /* color: rgb(63, 153, 144);  */
     color: #0704d1;
     opacity: 0.5;
     
     
  
}


#nav2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    
    
}

#nav2 li{
    list-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0px;
    padding-right: 
    

}

#nav2 li a{

    text-decoration: none;
    font-size: 0.9vw;
    font-weight: 300;
    color: #465b52;
    transition: 0.17s ease-in-out;
    
}

#nav2 li a:hover /*,
#nav li a.current*/{
     /* color: rgb(63, 153, 144);  */
     color: #0704d1;
    opacity: 0.5;
    
 
}



#nav .logo{

    padding-left: 8vw;
    transition: 0.17s ease-in-out;
    

  
}

#logo:hover{


    color: #0704d1;
    opacity: 0.5;
    
 
}

/*Banner*/

#greyedout{
    font-size: 0.95vw;
    font-weight: 200;
}


#bigbanner{
    background-image: url("images/hero-bg.png");
    background-size: 73vh;
    height: 90vh;
    background-color: #faedeb;
    background-repeat: no-repeat;
    background-position-x: 47.5vw;
    background-position-y: 4.2vh;
    position: relative;
    padding: 0 7vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   
    
   
}

#bigbanner img{
    
    position: absolute;
    left: 45vw;
    top: -5vh;
    z-index: 2;
    height: 106%;
}

#bigbanner h4{
    padding-bottom: 1vh;
    color: #465b52;
}

#bigbanner h2{

    padding-bottom: 1vh;
    font-size: 7vh;
}

#bigbanner button{

    font-size: 1vw;
    font-weight: 200;
    padding: 2vh 2.5vw;
    margin-top: 2vh;
    color: white;
    background-color: black;
    
    cursor: pointer;
    border: none;
    outline: None;
    transition: 0.13s ease-in-out;
}

#bigbanner button:hover{

    color: black;
    background-color: white;
    cursor: pointer;

}

/*Summer collection*/

.sectionpadding1{

    padding: 9vh 5vw;

}

.sectionpadding2{

    padding: 2vh 5vw;

}

.sectionpadding3{

    padding: 4vh 5vw;

}

#summercollection{
    text-align: center;
}

#summercollection h4{

    font-size: 0.9vw;
    font-weight: 150;
    color: #75797e;
    padding-bottom: 0.5vw;
}

#summercollection h2{

    font-size: 3vw;

    padding-bottom: 0.5vw;

}

#summercollection .products{

    width:19%;
    min-width: 18vw;
    cursor: pointer;
    margin-top: 3vh;
    margin-bottom: 1vh;
    margin-left: 0;
    margin-right: 0;
    
    position: relative;
    
     
}

#summercollection .products .img-top {
    
    opacity: 0;
    position: absolute;
    width:19%;
    min-width: 18vw;
    top:0vw;
    left: 0vh;
    z-index: 99;
    transition: 0.23s ease-in;
}

#summercollection .products .img-top:hover{

    opacity: 1;

}

#summercollection .products img{

    width: 100%;
    
}

#summercollection .products .description{

    text-align: start;
    padding: 1vh 0;
}

#summercollection .products .description span{

    color: grey;
    font-size: 0.8vw;
    
}

#summercollection .products .description h4{

    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    
}

#summercollection .products .description h5{

    color:#75797e;
}

#summercollection .products  li{

    list-style: none;

}



#summercollection .products .cart{

    width: 1.8vw;
    height: 1.8vw;
    line-height: 1.8vw;
    border-radius: 50px;
    background-color: #faedeb;
    position: absolute;
    top: 1.5vh;
    right: 0vw;
    color: black;
    z-index: 200;
    font-size: 1.25vw;
    transition: 0.1s ease-in-out;
    
}

#summercollection .products .cart:hover{
    width: 2vw;
    height: 2vw;
    line-height: 2vw;
    border-radius: 50px;
    font-size: 1.5vw;
    background-color: white;
}

#summercollection .products .quickview{

    width: 1.8vw;
    height: 1.8vw;
    line-height: 1.8vw;
    border-radius: 50px;
    background-color: #faedeb;
    position: absolute;
    top: 6.5vh;
    right: 0vw;
    color: black;
    z-index: 200;
    font-size: 1.25vw;
    transition: 0.1s ease-in-out;

}

#summercollection .products .quickview:hover{  

    width: 2vw;
    height: 2vw;
    line-height: 2vw;
    border-radius: 50px;
    font-size: 1.5vw;
    background-color: white;
}

#summercollection .container1{

    display: flex;
    justify-content: space-between;
    
}
 

#base{

    display: flex;
    justify-content: space-around;
     margin-bottom: 2vw;
     margin-left: 0;
     margin-right: 0;
}

#base .banner1{

    text-align: center;
    
}

#base .banner2{

    text-align: center;
    
}

#base .banner1 img{

    cursor: pointer;
    width: 40vw;
}

#base .banner1 h4{

    font-size: 0.9vw;
    font-weight: 150;
    color: #75797e;
    padding-top: 2vw;
    padding-bottom: 0.3vw;

}

#base .banner1 h2{

    font-size: 2.7vw;
    font-weight: 550;
    padding-bottom: 0;

}




#base .banner1 button{

    font-size: 1vw;
    font-weight: 200;
    padding: 2vh 2.5vw;
    margin-top: 2vh;
    color: white;
    background-color: black;
    
    cursor: pointer;
    border: none;
    outline: None;
    transition: 0.13s ease-in-out;
}


#base .banner1 button:hover{

    color: black;
    background-color: white;
    cursor: pointer;
    border: 2px solid black;


}

#base .banner2 img{

    width: 40vw;
}

/*   background-image: url("images/bg-01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-size: 90vw;

    */

#transperant{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/bg-01.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 10vh;
    
    
}

#transperant h4{

    color: red;
    font-size: 1vw;
    font-weight: 900;
    padding-bottom: 1vh;
}

#transperant h2{

    color: navy;
    font-size: 3vw;
    font-weight: 700;
    padding-bottom: 1vh;
}

#transperant h3{

    color:rgb(0, 110, 255);
    font-size: 2vw;
    font-weight: 700;
    padding-bottom: 1vh;
}

#transperant button{

    font-size: 1vw;
    font-weight: 200;
    padding: 2vh 2.5vw;
    margin-top: 2vh;
    color: white;
    background-color: rgb(2, 2, 112);
    
    cursor: pointer;
    border: none;
    outline: None;
    transition: 0.13s ease-in-out;
}

#transperant button:hover{

    color: black;
    background-color: white;
    cursor: pointer;
    border: 2px solid navy;
}

#spring{

    display: flex;
    justify-content: center;
    align-items: center;

}

#spring .springright h4{

    font-size: 1vw;
    font-weight: 300;
    color: grey;
    padding-bottom: 1vh;
}
#spring .springright h2{

    font-size: 2.5vw;
    font-weight: 300;
    color: black;
}
#spring .springright p{

    font-size: 0.9vw;
    font-weight: 100;
    color: black;
    padding-left: 1vw;
}


#spring .springright button{

    font-size: 1vw;
    font-weight: 200;
    padding: 2vh 2.5vw;
    margin-top: 2vh;
    color: white;
    background-color: black;
    
    cursor: pointer;
    border: none;
    outline: None;
    transition: 0.13s ease-in-out;
}

#spring .springright button:hover{

    color: black;
    background-color: white;
    cursor: pointer;
    border:0.5px solid navy;
}

#review{
    text-align: center;

    
}

#review h2{

    font-size: 2.5vw;
    font-weight: 500;
    color: black;
}

#review p{

    font-size: 1vw;
    font-weight: 500;
    color: black;
    
}

#review .stars i{

    font-size: 14px;
    color: rgba(250, 180, 3, 0.959);
    padding-bottom: 2vh;
}

#review h4{

    font-size: 1vw;
    font-weight: 500;
    color: burlywood;
}


#choice {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

#choice .rightban{

background-image: url(images/cat-men-600x600.jpg);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 40vw;
height: 70vh;
background-size: cover;
position: center;
padding: 1vw;
transition: 0.15s ease-in-out ;

}

#choice .rightban button{

    font-size: 1vw;
    font-weight: 800;
    padding: 0.8vh 10vw;
    margin-top: 2vh;
    color: black;
    background-color: white;
    margin-top: 60vh;
    cursor: pointer;
    border: none;
    outline: None;
    transition: 0.13s ease-in-out;
}

#choice .rightban:hover button{
    
    color: black;
    background-color: antiquewhite;
    border: 1px solid white;
}

#choice .rightban:hover{

    cursor: pointer;
}

#choice .leftban{

    background-image: url(images/cat-women-600x600.jpg);
}


#finalsection{

    text-align: center;
    margin-top: 7vh;
    background-color: #faedeb;
    padding-top:7vh ;
}

#finalsection .uppersection{

    padding-bottom: 6vh;
}

#finalsection .uppersection h2{

    font-size: 2.5vw;
}

#finalsection .uppersection h3{

    padding-bottom: 5vh;
    font-size: 2.5vw;
}


#finalsection .uppersection p{

    font-size: 1vw;
    font-weight: 300;
    color: #6e7275;
}

#finalsection .register{

    padding-bottom: 10vh;
    display: inline-flex;
    text-align: center;
    align-items: center;
    
}

#finalsection .register input{

        height: 5.7vh;
        padding: 0 1.7vh;
        font-size: 16px;
        font-weight: 600;
        width: 30vw;
        border: 1px solid transparent;
        border-radius: 7px;
        outline: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #fafafa;
        

}

#finalsection .register button{
    
    font-size: 15px;
    font-weight: 600;
    padding: 1.6vh 2.5vw;
    color: white;
    background-color: black;
    white-space: nowrap;
    border-radius: 4px;
    border: none;
    outline: None;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

#finalsection .register button:hover{

    color: black;
    background-color: white;
    cursor: pointer;
    border:0.9px solid black;
}

#finalsection .lowerpart ul{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 5vh;
    
}

#finalsection .lowerpart li{

    list-style: none;
    
 
}

#finalsection .lowerpart a{

    text-decoration: none;
    font-size: 0.9vw;
    font-weight: 300;
    color: #465b52;
    transition: 0.17s ease-in-out;
    
}

#finalsection .lowerpart a:hover /*,
#nav li a.current*/{
     /* color: rgb(63, 153, 144);  */
     color: grey;
     opacity: 0.5;
     
     
}

#finalsection .followus{

    padding-bottom: 10vh;
    padding-top: 3vh;
}

#finalsection .followus i{

    font-size: 2vw;
    color: black;
    border: solid 2px black;
    background-color: white;

padding: 0.5vh ;
     
}


#finalsection .copyrt{

    background-color: black;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-bottom: 7vh;
}

#finalsection .copyrt h3{

    font-size: 1vw;
    font-weight: 300;
    color: white;

}


#nav2 .search-input-wrapper{

    width:100%;
    height: 3.8vw;
    background-color: rgba(243, 189, 153, 0.5);
    display:flex;
    justify-content:center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ;
}


#nav2 .search-input-wrapper.change{

    opacity: 1;
    visibility: visible;
    transition: all 0.5s 0.3s;
}


#nav2 .search-input{

    width:19rem;
    display: flex;
    align-items: center;
}

#nav2 .search-input input{

    width: 20vw;
    background-color: transparent;
    border: none;
    border-bottom: 0.1vw solid#999;
    font-size: 1.38vw;
    letter-spacing: 0.12vw;
    outline: none;
    color: #555;
    

}

#nav2 .search-input i{

    font-size: 3.2vw;
    color: #a85353;
    cursor: pointer;
}


#nav2 .search-icon{

    font-size: 1.4vw;
    position: absolute;
    top: 2.3vw;
   /* left: 50.8rem;*/
    right:15vw;
    
}


#nav2 .search-icon.change{

    animation: searchIconAnim 0.5s forwards;


}

#nav2 .search-icon i{

    color: #999;
    cursor: pointer;
}


@keyframes searchIconAnim{

    0%{
        top: 2.3vw;
    }

    40%{
        top:40%;
        font-size: 2.5vw;
    }

    60%{
        top: 40%;
        left: 50.8vw;
    }

    100%{
        top: 2.3vw;
        left: 54.75vw;
    }
}




.themes-container{

    position:fixed;
    top:0; right:-350px;
    background:var(--bg);
    border-left:var(--border);
    height: 100vh;
    width:350px;
    z-index:1002;
    text-align: right;
    padding: 20px;
    transition: 0.3s;
   
}

.themes-container.active{

    right: 0px;
}

.themes-container #theme-off{

    font-size: 40px;
    color:var(--black);
    cursor: pointer;
}

.themes-container h3{

    text-align: center;
    color: var(--black);
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 15px 0;
    margin: 20px;
}

.themes-container .theme-toggler{

    display:flex;
    align-items: center;
    justify-content: center;

}

.themes-container .theme-toggler span{

    color:var(--light-color);
}


.themes-container .theme-toggler .toggler{

    height: 40px;
    width: 100px;
    border-radius: 50px;
    background: var(--light-bg);
    position: relative;
    cursor: pointer;
    border: var(--border);
    margin:0 10px;
}

.themes-container .theme-toggler .toggler::before{

    content: '';
    position: absolute;
    top: 5px; left:5px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: #fff;
    transition: 0.2s linear;
}

.themes-container .theme-toggler.active .toggler::before{

    left:65px;
}


.themes-container .theme-colors{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
}


.themes-container .theme-colors .colors{

    border-radius: 5px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 0.1s ease-in-out;

}

.themes-container .theme-colors .colors:hover{

    opacity: 0.5;
}


/*media query*/

@media (max-width:799px)

{
body{
    width: 50vh;
}
#bigbanner{
    background-image: url("images/hero-bg.png");
    background-size: 73vh;
    height: 40vh;
    background-color: #faedeb;
    background-repeat: no-repeat;
    background-position-x: 47.5vw;
    background-position-y: 0vh;
    position: relative;
    padding: 0 0vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   
    
   
}

#choice .rightban{

    background-image: url(images/cat-men-600x600.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 30vh;
    background-size: cover;
    position: center;
    padding: 1vw;
}
}